.treeview ul{ /*CSS for Simple Tree Menu*/
margin: 0;
padding: 0;
}

.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
background: white url(../images/list.png) no-repeat left center;
list-style-type: none;
padding-left: 22px;
margin-bottom: 3px;
color:#0CF;
}
.treeview li ul li{
	color:#000;
}
.treeview li a { text-decoration:none;
color:#0C6;
font-weight:bolder;
}
.treeview li a:hover { text-decoration:none;
color:#000;
font-weight:bolder;
}
.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
background: white url(../images/closed.png) no-repeat left 1px;
cursor: hand !important;
cursor: pointer !important;
}


.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}

.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
cursor: default;
}